<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/list.css">

    <title>Grade Transfer</title>
</head>
<body>
    <div class="box">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <a class="button" href="/auth">
            Advance
        </a>
        {{#each list}}
            <div class="list-item">
                <p class="title">{{this.name}}</p>
                <p class="sub">{{this.roster.length}} student(s)</p>
            </div>
        {{/each}}
    </div>
    <div class="footer">
        <a href="/help" style="float: left">Help Center</a>
        <a href="mailto:570000826@nlrsd.org" style="float: right">Contact</a>
    </div>
</body>
</html>