a {
  cursor: pointer;
  text-decoration: none;
  color: #9B9CA1;
}

.Nav {
  display:block;
  padding: 2% 5% 2% 5%;
}

.title {
  float: left;
  color:#516CFC;
  font-weight: 800;
  font-size:20pt;
  margin-left:5%;
}

.links {
  float: right;
  width:30vw;
  text-align: right;
}

.links a {
  display: inline-block;
  margin-right:5%;
  transition:0.2s;
  font-weight:bold;
}

.links a:not(:last-of-type) {
  margin-right:10%;
}

.links a:hover {
  color:#C7C8CE;
}