@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body, html {
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  color: #fff;
  background: #0D0F12;
}

body {
  display:table;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button {
    display: inline-block;
    color: #fff;
    background: #516CFC;
    cursor: pointer;
    border-radius: 5px;
    font-size:12pt;
    padding: 1% 3% 1% 3%;
    font-weight:800;
    transition:0.2s;
    text-decoration: none;
}

.button:hover {
    background:rgba(74, 101, 241, 0.9);
}