<!DOCTYPE html>
<html>
  <head>
    <title>E21-DEMO1</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {{#if error}}
      <label class="error">
        {{error}} <span onclick="closeError()">&times;</span>
      </label>
    {{/if}}
    <div class="box">
      <h1>
        Grade Transfer
      </h1>
      <p>
        Send grades to eSchoolPlus faster using the Google Classroom and eSchoolPlus APIs.
      </p>
      <a onclick="window.open('/auth', '_self')" href="#" class="btn">
        Authenticate
      </a>
    </div>
    <div class="footer">
      <a href="https://eastinitiative.org/">
        <img src="/static/east.png">
      </a>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>