.Button {
  display: inline-block;
  color: #fff;
  background: #516CFC;
  cursor: pointer;
  border-radius: 5px;
  font-size:10pt;
  padding: 1.5% 4% 1.5% 4%;
  font-weight:800;
  transition:0.2s;
}

.Button.Void {
  border: 4px solid #516CFC;
  background:transparent;
  color: #516CFC;
}

.Button:not(.Void):hover {
  background:rgba(74, 101, 241, 0.9);;
}

.Button.Void:hover {
  border: 4px solid rgba(74, 101, 241, 0.9);
  color:rgba(74, 101, 241, 0.9);;

  opacity:0.9;
}