

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  color: #fff;
  background:#0D0F12;
}

.box {
  background: #151B21;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:3%;
  width: 27.5vw;
  position:absolute;
  border-radius:10px;
}

.box * {
  margin-bottom:7.5%;
}

.box .btn {
  margin-bottom: 0;
}

.courses {
  display:block;
  margin: 10vh auto;
  display:block;
  background: #151B21;
  padding:3%;
  width:55vw;
  border-radius:10px;
  color: #DEE3EA;
}

.box p {
  color: #DEE3EA;
  font-size: 90%;
  margin-bottom: 9%;
}

a.btn {
  padding:4.5%;
  display:block;
  border-radius:8px;
  background: #252D37;
  color: #FFFFFF;
  font-weight:bold;
  text-decoration: none;
  text-align: center;
  transition: 0.1s;
}

a.btn:hover {
  background: #34404d;
}

a.btn.blue {
  background: #4058dd;
  transition:0.1s;
}

a.btn.blue:hover {
  background: #4554aa;
}

h1 {
  color: #4058dd;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  font-size: 150%;
  font-weight:800;
}

.course:first-of-type {
  margin-top:0;
}

.course {
  padding:4%;
  display:block;
  border-radius:8px;
  background: #151B21;
  color: #FFFFFF;
  font-weight:bold;
  transition: 0.1s;
  margin-top:2%;
  margin-bottom:2%;
  cursor: pointer;
}

.course p {
  margin-top:2%;
  color: #5D7290;
  font-weight: normal;
}

.footer {
  position: fixed;
  height:10vh;
  bottom:3vh;
  right:6vw;
}

.footer img {
  height:70%;
  filter: opacity(0.1);
  transition:0.1s;
}

.footer img:hover {
  filter: opacity(0.2);
}

.error {
  background:tomato;
  display:block;
  color:#fff;
  transition: 0.2s ease;
  border-radius: 7px;
  padding:2%;
  font-size:105%;
}

.error span {
  float: right;
  cursor: pointer;
  font-size:120%;
  font-weight:bold;
  border-radius:10px;
  margin-right: 5%;
}

.container {
  width:100%;
  margin:0;
  padding:0;
}

.box1, .box2, .box3{
  width: 25%;
  height: 50px;
  display: table-cell;
  vertical-align: top;
  padding:2%;

}

.box2{
  width: 50%;
}